.container {
    display: flex;
    flex-direction: column;
}

.container-obra {
    display: grid;
    grid-template-areas:
    'item1 item3'
    'item2 item3';
    max-width: 100px;
    align-items: center;
    margin-bottom: 2rem;

}



.item1{
    grid-area: item1;
}

.item2{
    grid-area: item2;
}

.item3{
    grid-area: item3;
}

input {
    width: 20rem;
    min-width: 20rem;
    padding: 0.3rem;
    margin: 0.3rem;
    border-radius: 0.3rem;
    border-width: 1px;
}

textarea {
    width: 20rem;
    min-width: 20rem;
    max-width: 40%;
    padding: 0.3rem;
    margin: 0.3rem;
    border-radius: 0.3rem;
    border-width: 1px;
}

button {
    width: 5rem;
    max-height: 3rem;
    font-weight: 400;
    padding: 0.3rem;
    margin: 0.3rem;
    border-radius: 0.3rem;
    border-style: none;
    background-color:#372549;
    color: white;
    margin-top:1rem;

}

button:disabled {
    background-color: #7c7c7c;
}

button:disabled:hover {
    background-color: #7c7c7c;
}

button:hover {
    background-color:#6247aa;
    color: white;
}


.add {
    background-color: #30bb58;

}

.remove {
    background-color: #b92229;
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: middle;
    margin-left: 2rem;

}

.add:hover {
    background-color: #1d963f;

}

.remove:hover {
    background-color:#991a20;
    color: white;
    
}

::placeholder {
    font-style: italic;
    color: rgb(139, 139, 139)
}

.incomplete-form {
    font-style: italic;
    
}